body {
  background-color: rgb(29, 77, 40);
  color: white;
  text-align: center;
  margin: 0;
  transform: scale(1);
  transform-origin: top;
}

footer {
  display: flex;
  justify-content: center;
}

.icon-list {
  display: flex;
  align-items: center;
}

.icon-list a {
  margin-left: 10px; /* Add some space between the icons */
}

.snes-jp-logo {
  margin-left: auto;
}

@media (max-width: 768px) {
  /* Styles for smaller screens go here */
}

.texasHoldEm-container {
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
}

.nes-container {
  min-width: 17em;
  border-width: 2px;
}

.nes-container.with-title > .title {
  font-size: 12px;
}

/* @keyframes slideAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.player-cards-row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.main-player-content {
  display: flex;
}

.player-content {
  display: flex;
  flex-grow: 1; /* Allow this div to grow and take up remaining space */
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.player-hand-rank {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1em;
}

.player-cards {
  display: flex;
  justify-content: center;
}

.playerOptions {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.playerOptions a {
  margin-right: 30px; /* Add margin to create space between buttons */
}

.playerOptions a:last-child {
  margin-right: 0; /* Remove margin from the last button to avoid extra space */
}

.poker-card {
  max-width: 68px;
}

.lazy {
  opacity: 0;
}

.community-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cpu-players-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.result {
  display: flex;
  justify-content: center;
}

.result,
h1 {
  color: white;
}

.pkr-btn {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

/* .cpu-col {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .player-name {
  
} */

/* .mp-name {
} */
