body {
  background-color: rgb(29, 77, 40);
  font-family: 'Silkscreen', sans-serif;
  color: white;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  /* Styles for smaller screens go here */
}

.texasHoldEm-container {
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
  padding: 20px;
  /* background-image: url('https://i.ibb.co/vZrF1gY/gameboyscreen.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

/* @keyframes slideAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.poker-card {
  max-width: 66px;
  /* opacity: 0;
  animation: slideAndFadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards; This keeps the end state of the animation */
}

.community-cards {
  display: inline-flex;
  margin: auto;
  justify-content: center;

  outline-style: solid;
  outline-width: 2px;
  outline-offset: 8px;
  outline-color: #c3c3c3;
  border-radius: 1px;
}

.cpu-players-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.player-cards-row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.cpu-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .player-name {
  
} */

/* .mp-name {
} */

.player-hand-rank {
  color: greenyellow !important;
  font-size: 12px;
}

.player-cards {
  display: flex;
  justify-content: center;
}

.result {
  display: flex;
  justify-content: center;
}

.result,
h1 {
  color: white;
}

.pkr-btn {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
