body {
  background-color: rgb(29, 77, 40);
  font-family: 'Silkscreen', sans-serif;
  color: white;
}

.poker-card {
  min-width: 20px;
  max-width: 60px;
}

.community-cards {
  display: flex;
  width: 100%; /* Set a fixed width */
  max-width: 304px; /* Adjust the max width as needed */
  min-width: 304px;
  margin: auto;
}

.cpu-cards-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 80px;
}

.cpu-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  margin-top: 10px;
}

.player-cards-row {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.player-cards {
  display: flex;
  justify-content: center;
}

/* .cpu-cards {
  display: flex;
  justify-content: center;
} */

.result {
  display: flex;
  justify-content: center;
}

.result,
h1 {
  color: white;
}

.pkr-btn {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
